
.box1, .box2, .box3 {
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    border: 5px solid #333;
    background-color: skyblue;
    color: black;
}


.box2 {
    padding: 40px;
    margin: 20px;
    border: 10px solid #666;
    background-color: yellowgreen;
}
.box3 {
    padding: 10px;
    margin: 5px;
    border: 2px solid #999;
    background-color: violet;
}


.default-box {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    margin: 10px;
    padding: 20px;
    background-color: #a69724;
}

.border-box {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
    background-color: #587708;
    box-sizing: border-box;
}


.display-block {
    display: block;
    background-color: #87ceeb;
    padding: 10px;
    margin-bottom: 10px;
}

.display-inline {
    display: inline;
    background-color: #ffa07a;
    padding: 10px;
    margin-right: 10px;
}

.display-inline-block {
    display: inline-block;
    background-color: #90ee90;
    padding: 10px;
    margin-right: 10px;
}

.display-none {
    display: none;
}

/* Part D: Visibility vs Display */
.visible-box {
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 5px;
}

.hidden-box {
    background-color: lightpink;
    padding: 10px;
    visibility: hidden;
    margin-bottom: 5px;
}

.display-none-box {
    background-color: lightblue;
    padding: 10px;
    display: none;
}
